:host {}

.sub-menu {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 72px;
  transition: width .15s ease-in-out;

  list-style: none;

  width: 0;
  background-color: #fff;

  color: #512da8;

  overflow: hidden;

  box-shadow: 1px 0 0 #512da8;
}



:host-context(app-menu-item:hover) .sub-menu {
  width: 72px;
}
