:host {
  height: 100%;
  
}

.content {
  display: inline-block;
  min-width: 100%;
  height: 100%;
}

:host-context([orientation="portrait"]) .content {
  padding-bottom: 72px;
}

:host-context([orientation="landscape"]) .content {
  padding-left: 72px;
}