:host {
    height: 100%;
}
.calendar-component {
    height: 100%;
}
.calendar-component > .header > .controls {
    float: left;
    font-size: 32px;
}

.calendar-component > .header > .title {
    float: left;
    font-size: 24px;
    font-weight: 500;
}

.calendar {
    border: solid 1px #ccc;

    border-radius: 4px;
    overflow: hidden;

    position: relative;
    height: 100%;
}

.calendar > div {
    display: flex;
    flex-direction: column;
}

.calendar .week {
    min-height: 0;
    flex: 1;
}

.calendar .week > .inner {
    display: relative;
    
    display: flex;
    flex-wrap: nowrap;

    height: 100%;
}

.calendar .inner > .day {
    flex: 1 0;

    width: calc(100% / 7);
    
    height: 100%;
    position: relative;

    text-align: left;
}

/** Shadow calendar CSS **/
.calendar > .shadow {
    height: 100%;
}

.shadow .day {
    border: solid 1px #bbbbbb;

    background-color: #ffffff;
}

.shadow .day.sub {
    background-color: #dddddd;
    opacity: .66;
}

/** Contents calendar CSS **/

.calendar > .contents {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.contents .day > .day-header {
    display: flex;
    font-size: 13px;
}

.contents .day > .day-header > div {
    padding: 4px;
    flex: 1;
}

/** Events **/

.contents .inner > .events {
    position: absolute;
    z-index: 5;
    
    margin-top: 24px;

    width: 100%;
    height: 100%;
}


.event-host {
    position: absolute;
    top: 0;
    left: 0;
}

.event-host.position-0 {
    top: 0;
}

.event-host.position-1 {
    top: 21px;
}

.event-host.position-2 {
    top: 42px;
}

.event-host.position-3 {
    top: 63px;
}

.event-host.start-before {
    left: calc((100% / 7) * 0);
}

.event-host.start-0 {
    left: calc((100% / 7) * 0);
}

.event-host.start-1 {
    left: calc((100% / 7) * 1);
}

.event-host.start-2 {
    left: calc((100% / 7) * 2);
}

.event-host.start-3 {
    left: calc((100% / 7) * 3);
}

.event-host.start-4 {
    left: calc((100% / 7) * 4);
}

.event-host.start-5 {
    left: calc((100% / 7) * 5);
}

.event-host.start-6 {
    left: calc((100% / 7) * 6);
}




.event-host.end-after {
    right: 0;
}

.event-host.end-6 {
    right: calc((100% / 7) * 0);
}

.event-host.end-5 {
    right: calc((100% / 7) * 1);
}

.event-host.end-4 {
    right: calc((100% / 7) * 2);
}

.event-host.end-3 {
    right: calc((100% / 7) * 3);
}

.event-host.end-2 {
    right: calc((100% / 7) * 4);
}

.event-host.end-1 {
    right: calc((100% / 7) * 5);
}

.event-host.end-0 {
    right: calc((100% / 7) * 6);
}