<div class="calendar-component">
  <div>{{getMonthName(getMonth())}} {{getYear()}}</div>
  <div>
    <button (click)="setPrevYear()">&lt;&lt; {{getPrevYear()}}</button>
    <button (click)="setPrevMonth()">&lt; {{MONTHS[getPrevMonth()]}}</button>

    <button (click)="setNextMonth()">{{MONTHS[getNextMonth()]}} &gt;</button>
    <button (click)="setNextYear()">{{getNextYear()}} &gt;&gt;</button>
  </div>
  <div class="calendar">
    <div class="week" *ngFor="let week of weeks">
      <app-day class="app-day" [ngClass]="isDaySub(day) == true ? 'sub': ''" *ngFor="let day of week" [date]="makeDate(year, month, day)"
        [sub]="isDaySub(day)" [events]="eventservice.getDayEvents(makeDate(year, month, day))"></app-day>
    </div>
  </div>
</div>