<form class="form" (ngSubmit)="onSubmit()" #createEventForm="ngForm">
  (Not Functional)
  <div class="form-group">
    <label>Title</label>
    <div><input id="title" class="form-control" type="text" [(ngModel)]="model.title" name="title" required /></div>
  </div>
  <div class="form-group">
    <label>Start</label>
    <div><input id="start" class="form-control" type="text" [(ngModel)]="model.startDate" name="start" required /></div>
  </div>
  <div class="form-group">
    <label>End</label>
    <div><input id="end" class="form-control" type="end" [(ngModel)]="model.endDate" name="end" required /></div>
  </div>
  <div class="form-group">
    <div><button class="btn btn-success" type="submit" [disabled]="!createEventForm.form.valid">Submit</button></div>
  </div>
</form>