:host {
    flex: 1 0 calc(100% / 7);
    height: 100px;


    border-right: solid 1px #ccc;
}
:host:last-child {
    border-right: none;
}


.day {
    height: 100%;
    position: relative;

    text-align: left;

    background-color: #ffffff;
}

.day-header {
    display: flex;

    padding: 8px 8px 4px 8px;
}

.day-header > .date {
    margin-right: 4px;
}

.day-header > .day-menu {
    flex-grow: 3;
}

.day.sub {
    background-color: #dddddd;
    opacity: .66;
}