:host {
    flex: 1 0 calc(100% / 7);
    height: 75px;

    padding: 8px;

    border-right: solid 1px #ccc;
}
:host:last-child {
    border-right: none;
}

.day {
    position: relative;

    text-align: left;
}

.day-header {
    display: flex;
}

.day-header > .date {
    margin-right: 4px;
}

.day-header > .day-menu {
    flex-grow: 3;
}