:host {
  position: relative;
  z-index: 12;
}

.menu-item {
  display: block;
  
  list-style: none;
  position: relative;
  z-index: 13;
}

.menu-item-link {
  width: 72px;
  height: 72px;

  text-align: center;
  line-height: 72px;

  position: relative;

  cursor: pointer;

  transition: background-color .15s ease-in-out, color .15s ease-in-out, line-height .15s ease-in-out;
}

.menu-item-icon {
  line-height: 72px;
  font-size: 16px;

  opacity: 1;

  transition: opacity .15s ease-in-out, font-size .15s ease-in-out;
}

.menu-item-label {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 8px;

  opacity: 0;

  font-size: 12px;
  line-height: 1.21;

  padding: 0 4px;
  
  transition: opacity .15s ease-in-out;
}

:host-context(.sub-menu) .menu-item-label {
  bottom: 36px !important;
  transform: translateY(50%);
}

:host-context(ul.menu:hover, .sub-menu) .menu-item-label {
  opacity: 1;
}


:host-context([orientation="portrait"], [orientation="portrait"] .sub-menu) {
  flex: 1 1 auto;
}

:host-context([orientation="portrait"]) .menu-item-link {
  width: auto;
}

:host:hover>.menu-item>.menu-item-link {
  background-color: #fff;
  color: #512da8;
}

:host-context(.sub-menu) .menu-item-link {
  background-color: #fff;
  color: #512da8;
}

:host-context(.sub-menu) .menu-item-icon {
  font-size: 32px;
  opacity: .2;
}

